.tutor-tags {
    margin-top: 16px;
}

.tutor-tags-info {}

.tutor-tags-row {
    display: flex;
    /* padding: 8px 12px;
				justify-content: center;
				align-items: center;
				gap: 4px; */
    flex-direction: row;
    gap: 8px;
}

.tutor-btn {
    width: auto;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 35px;
    border: 1px solid rgba(18, 20, 23, 0.20);
    /* background: #F4C550; */
}

.button-trial-lesson {
    padding-top: 32px;
}

.book-button {
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--color-yellow);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}